.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 1fr;
}

// Share Banner in Hero Section top row only
.share-banner {
  background-color: $red;
  color: $white;
  font-size: 1.4rem;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 6px auto 6px;
  justify-content: end;
}

.share__list {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.share__item {
  padding: 0;
  margin: 0;
}

.share__link {
  padding: 5px;
  display: flex;
}


// Full Screen banner Styles

.hero-inner {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 330px;
  height: 50vh;
  background-color: cornflowerblue;
}

.hero__auction-type {
  align-self: center;
  color: $gold;
  background-color: rgba(50, 105, 150, 0.5);
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 20px;
}

.hero__title {
  color: $white;
  font-size: 1.8rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: $featured-text-shadow;

  @media (min-width: $med-screen) {
    font-size: 2rem;
  }
}

.hero__date-time {
  color: $gold;
  font-size: 1.3rem;
  text-shadow: $featured-text-shadow;

  @media (min-width: $med-screen) {
    font-size: 1.4rem;
  }
}

hr.hero__hr {
    border: 0;
    height: 1px;
    width: 60%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(103, 103, 103), rgba(0, 0, 0, 0));
}
