/* Main Header Gavel-D logo With Title + Subtitle */

.site-logo {
  width: 60px;
}

.logo-title {
  font-size: 1.7rem;
}

.logo-subtitle {
  background-color: $gold;
  padding: 2px 4px;
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  margin-left: .5rem;
}
