/* Main Site Navigation in Header Element */

.navigation {
  display: grid;
  justify-content: flex-end;
  // grid-column: end;
  @media (min-width: 340px) {
    grid-column: end;
  }
  @media (min-width: 549px) {
    grid-column: auto;
    justify-content: initial;
  }
}

.nav-list {
  position: fixed;
  display: block;
  height: 0;
  top: 92px;
  right: 0;
  left: 0;
  background: #507fb9;
  color: white;
  overflow: hidden;
  z-index: 100;
  transition: height 0.8s ease-out;

  @media (min-width: 549px) {
    & {
      position: initial;
      height: auto;
      display: grid;
      grid-column: end;
      grid-template-columns: repeat(4, 1fr);
    }

    & .nav-items:last-child  {
      border-right: 1px solid $black;
    }
  }
}

.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F7CC31;
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
  width: 32px;
  height: 32px;
  padding: 5px;

  @media (min-width: 549px) {
    & {
      display: none;
    }
  }
}

.nav-btn__line {
  display: block;
  height: 1px;
  background: $black;
  width: 20px;
  transition: transform .4s;
}

.nav-links {
  display: block;
  padding: 8px 0 8px 14px;
  background-color: #517FB9;
  color: #FCFCFC;
  transition: color 0.5s,
              background-color 0.5s;

  &:hover {
    color: $black;
    background-color: $gold;
  }

  @media (min-width: 549px) {
    & {
      text-align: center;
      padding: 28px 8px;
      border-left: 1px solid $black;
    }
  }
}

/* Toggle Navigation */

[aria-expanded="true"] ~ .nav-list {
  height: 168px;
}

.nav-btn.open {
  justify-content: center;

  & .nav-btn__line--2 {
    background-color: transparent;
  }

  & .nav-btn__line--1 {
    transform: rotate(45deg);
    transform-origin: 9px;
  }

  & .nav-btn__line--3 {
    transform: rotate(-45deg);
    transform-origin: 9px;
  }
}

/* Footer Navigation */
