/* Main Site Navigation in Header Element */
// Styles for 'Archive' link dropdown at bottom

.navigation {
  display: grid;
  justify-content: flex-end;
  // grid-column: end;
  @media (min-width: 340px) {
    grid-column: end;
  }
  @media (min-width: 566px) {
    grid-column: auto;
    justify-content: initial;
  }
}

.nav-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 0;
  top: 92px;
  right: 0;
  left: 0;
  background: #507fb9;
  color: white;
  // Removed hidden overflow after implementing the dropdown nav for archive
  overflow: hidden;
  z-index: 92;
  transition: height 0.8s ease-out;

  @media (min-width: 566px) {
    & {
      overflow: initial;
      position: initial;
      height: auto;
      display: grid;
      grid-column: end;
      grid-template-columns: repeat(4, 1fr);
    }

    & .nav-items:last-child  {
      border-right: 1px solid $black;
    }
  }
}

.nav-items {
  position: relative;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F7CC31;
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
  width: 32px;
  height: 32px;
  padding: 5px;

  @media (min-width: 566px) {
    & {
      display: none;
    }
  }
}

.nav-btn__line {
  display: block;
  height: 1px;
  background: $black;
  width: 20px;
  transition: transform .4s;
}

.selected .nav-links {
  color: $black;
  background-color: $gold;
}

.nav-links {
  text-decoration: none;
  display: block;
  padding: 8px 0 8px 14px;
  background-color: #517FB9;
  color: #FCFCFC;
  transition: color 0.5s,
              background-color 0.5s;

  &:hover {
    color: $black;
    background-color: $gold;
  }

  @media (min-width: 566px) {
    & {
      text-align: center;
      padding: 28px 8px;
      border-left: 1px solid $black;
    }
  }
}

.nav-items--2 {
  order: 1;
  @media (min-width: 566px) {
    order: 0;
  }
}

.nav-items--2:hover .nav-list__sub-list {
  display: block;
  position: relative;

  @media (min-width: 566px) {
    position: absolute;
    display: block;
  }
}

.nav-list__sub-list {
  display: none;
  position: absolute;
  width: 100%;
}

.sub-list__nav-links {
    text-decoration: none;
    display: block;
    padding: 8px 0 8px 22px;
    background-color: #517FB9;
    color: #FCFCFC;
    transition: color 0.5s,
                background-color 0.5s;

    &:hover {
      color: $black;
      background-color: $gold;
    }

    @media (min-width: 549px) {
      & {
        text-align: center;
        padding: 28px 8px;
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        border-top: 1px solid $black;
      }
    }
}

.nav-list__sub-list li:last-child {
  border-bottom: 1px solid $black;
}

/* Toggle Navigation */

#navBtn[aria-expanded="true"] ~ .nav-list {
  height: auto;
}

.nav-btn.open {
  justify-content: center;

  & .nav-btn__line--2 {
    background-color: transparent;
  }

  & .nav-btn__line--1 {
    transform: rotate(45deg);
    transform-origin: 9px;
  }

  & .nav-btn__line--3 {
    transform: rotate(-45deg);
    transform-origin: 9px;
  }
}



/* Footer Navigation */
