.auction-calender__container {
  display: grid;
  grid-row-gap: 28px;
  grid-template-columns: 1fr;
  // grid-template-columns: 1fr minmax(320px, 4fr) 1fr;
  grid-template-rows: 1fr;
  margin-top: 20px;

  @media (min-width: $med-screen) {
    & {
      grid-template-columns: 1fr 10fr 1fr;
    }
  }
}

.auction-calender {
  margin-top: 2rem;
}

.auction-calender__heading {
  grid-column: 1 / -1;
  font-weight: 200;
  background: linear-gradient(to right, $blue 40%, transparent);
  color: $white;
  padding: 10px 0 10px 10px;

  @media (min-width: $med-screen) {
    & {
      font-size: 2rem;
    }
  }
}

/* Auction Cards in Components/_auction-card.scss */
