/*
  Wrapper containers for Grid Content Areas
  and Max-width control
*/

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

/* Wrapper for Header Element on All Pages */
.wrapper-inner {
  display: grid;
  max-width: $max-width;
  margin: 0 auto;
  padding-left: 8px;
}

.wrapper-inner--header {
  grid-gap: 10px;
  grid-template-columns: auto auto 1fr;
  align-items: center;
}

.wrapper-inner--featured {
  grid-template-columns: 32px auto;
  align-content: center;
  text-align: left;
  width: 100%;
}
