.featured {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 40px 1fr;
  background-color: $blue;
}

.upcoming-banner {
  display: grid;
  background-color: $red;
  color: white;
  grid-column: 1 / -1;
  grid-row: span 1;
}

.upcoming-banner__text {
  text-align: left;
  display: flex;
  align-self: center;
}

.featured-carousel {
  background-color: $blue;
}
