.featured {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 40px 1fr;
  background-color: $blue;
}

.featured-banner {
  display: grid;
  background-color: $red;
  color: white;
  grid-column: 1 / -1;
  grid-row: span 1;
}

.featured-item {
  display: grid;
  grid-template-columns: 32px auto;
}

.featured-item--1 {
  align-items: center;
}

.featured-banner__text {
  text-align: left;
  display: flex;
  align-self: center;
}
