/* Main Header With Navigation and Logo */
.header {
  grid-column: 1 / -1;
  background-color: $blue;
  padding: 8px 6px 8px 0;

  @media (min-width: 566px) {
    & {
      padding: 0 6px 0 6px;
    }
  }
}
