.map-directions {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: $med-screen) {
    grid-template-columns: 1fr 1fr;
  }
}

// Map Section
.map {
  display: grid;
  grid-template-rows: 45px auto;
  min-height: 350px;
  background-color: teal;
  background: url('../images/google-map-holder@2x.jpg') no-repeat center;
  background-size: cover;
}

// Directions Section
.directions {
  display: grid;
  grid-template-rows: 45px auto;
  min-height: 350px;
  // background-color: firebrick;
}

.directions__inner {
  background-color: $white;
  font-size: 1.2rem;
  padding: 8px 8px 24px 8px;
  max-width: 700px;

  h1,h2,h3,h4,h5,h6 {
    margin-top: 1rem;
    margin-bottom: 8px;
  }

  p {
    margin-top: 1rem;
    line-height: 1.5;
  }
}
