.photos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 45px auto;
}

.photo-container {
    background-color: $white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1 / -1;
    justify-content: center;
}

.photo__col {
  max-width: 125px;
  margin: 0px 5px 0 5px;
  @media (min-width: 400px) {
    max-width: 150px;
    margin: 5px;
  }
  @media (min-width: 850px) {
    max-width: 200px;
  }
}

.col__img {
  width: 100%;
  margin: 5px;
}
