.photos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 45px auto;
}

.section__heading--photo {
  grid-column: 1 / -1;
  background-color: $blue;
  border-bottom: 2px solid darken($blue, 10%);
}

.photo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 1 / -1;
    justify-content: center;
}

.photo__col {
  max-width: 220px;
  margin: 5px;
}

.col__img {
  width: 100%;
  margin: 5px;
}
