<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>D'Amico Auctions & Appraisals, A Leader in Liquadation of New Car Dealerships</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="wrapper-inner wrapper-inner--header">
          <img class="site-logo" src=<%= require("./images/gavel-logo.svg") %> alt="damico auctions logo" />
          <span class="logo">
            <h1 class="logo-title">Damico <span class="italic">Auctions</span></h1>
            <p class="logo-subtitle">David D'Amico | Auctioneer</p>
          </span>
          <nav class="navigation" role="navigation">
            <!-- hamburger navigation button -->
            <a href="#" id="navBtn" class="nav-btn" href="#" aria-expanded="false" aria-controls="nav-list">
              <span class="nav-btn__line nav-btn__line--1"></span>
              <span class="nav-btn__line nav-btn__line--2"></span>
              <span class="nav-btn__line nav-btn__line--3"></span>
            </a>
            <ul id="navList" class="nav-list">
              <li class="nav-items selected"><a class="nav-links" href="#">Home</a></li>
              <li class="nav-items"><a class="nav-links" href="index.html">Auctions</a></li>
              <li class="nav-items"><a class="nav-links" href="http://dealershipappraisals.com">Appraisals</a></li>
              <li class="nav-items"><a class="nav-links" href="#">Contact</a></li>
            </ul>
          </nav>
        </div> <!-- End of .wrapper__header -->
      </header>
     </div> <!-- End of wrapper -->

    <!-- Featured Auction Hero -->
    <div class="hero">
      <div class="share-banner">
        <div class="wrapper wrapper-inner wrapper-inner--share">
          <ul class="share__list">
            <li><span class="share__title">Share</span></li>
            <li class="share__item"><a href="" class="share__link"><i class="fab share__fab fa-linkedin"></i></a></li>
            <li class="share__item"><a href="" class="share__link"><i class="fab share__fab fa-facebook-square"></i></a></li>
            <li class="share__item"><a href="" class="share__link"><i class="fab share__fab fa-twitter-square"></i></a></li>
            <li class="share__item"><a href="" class="share__link"><i class="fas share__fab fa-envelope-square"></i></a></li>
          </ul>
        </div>
      </div>
     <div class="hero-inner">
       <h3 class="hero__auction-type">Live On-Site Auction</h3>
       <h1 class="hero__title">AUTOMOTIVE REPAIR EQUIPMENT. A & W Complete Automotive Care. FLORENCE, KENTUCKY</h1>
       <hr class="hero__hr">
       <p class="hero__date-time">
         May 09, 2018. at 2pm EST.
       </p>
     </div>
    </div>

    <main class="main-container">
      <div class="wrapper wrapper-inner wrapper-inner--summary">
        Contact Form Area
     </div> <!-- End of .wrapper-inner -->
    </main>

    <footer class="footer">
      <section class="footer-section footer-section--1">
        <h4 class="footer__title">D'Amico Auctions</h4>
        <p class="footer__text">
          Is recognized as a leading "Liquidator and Appraiser of New Car Dealerships."
          Having conducted hundreds of successful auctions and appraisals for all major
          auto groups coast-to-coast, in Florida and across the USA
        </p>
      </section>

      <section class="footer-section footer-section--2">
        <h4 class="footer__title">Navigation</h4>
        <ul class="footer__list">
          <li class="footer__item"><a href="#" class="footer__link">Calender</a></li>
          <li class="footer__item"><a href="#" class="footer__link footer__link--appraisals">Appraisals</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
        </ul>
      </section>

      <section class="footer-section footer-section--3">
        <h4 class="footer__title">Follow Us</h4>
        <p class="footer__text">
          <ul class="footer-social__list">
            <li><a href="" class="footer-social__link"><i class="fab footer__fab fa-linkedin"></i></a</li>
            <li><a href="" class="footer-social__link"><i class="fab footer__fab fa-facebook-square"></i></a></li>
            <li><a href="" class="footer-social__link"><i class="fab footer__fab fa-twitter-square"></i></a></li>
            <li><a href="" class="footer-social__link"><i class="fas footer__fab fa-envelope-square"></i></a></li>
          </ul>
        </p>
      </section>
      <section class="footer-section footer-section--4">
        <h4 class="footer__title">David D'Amico | Auctioneer</h4>
        <p class="footer__text">
          Auctioneer / CAGA, GPPA
          & USPAP Compliant Appraiser
          / Licensed RE Broker
          AU 1441 / AB 2209
        </p>
        <address class="footer__text">
          Sarasota, FL <br>
          Smoky Mtns, TN <br>
          Tel: (941)377-6310 <br>
          eFax: (413)778-6310 <br>
        </address>
      </section>
      <div class="copyright-info">
        <small>Copyright &copy; 2018 D'Amico Auctions - All Rights Reserved</small>
        <small>Developed and Designed by <a class="copyright-info__links" href="http://nicholasdamico.net">nicholasdamico.net</a></small>
      </div>
    </footer>
    <%= htmlWebpackPlugin.options.src %>
</body>
</html>
