<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>D'Amico Auctions &amp; Appraisals, A Leader in Liquadation of New Car Dealerships</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="wrapper-inner wrapper-inner--header">
          <img class="site-logo" src=<%= require("./images/gavel-logo.svg") %> alt="damico auctions logo" />
          <span class="logo">
            <h1 class="logo-title">Damico <span class="italic">Auctions</span></h1>
            <p class="logo-subtitle">David D'Amico | Auctioneer</p>
          </span>
          <nav class="navigation" role="navigation">
            <!-- hamburger navigation button -->
            <a href="#" id="navBtn" class="nav-btn" href="#" aria-expanded="false" aria-controls="nav-list">
              <span class="nav-btn__line nav-btn__line--1"></span>
              <span class="nav-btn__line nav-btn__line--2"></span>
              <span class="nav-btn__line nav-btn__line--3"></span>
            </a>
            <ul id="navList" class="nav-list">
              <li class="nav-items"><a class="nav-links" href="#">Home</a></li>
              <li class="nav-items  selected"><a class="nav-links" href="index.html">Auctions</a></li>
              <li class="nav-items"><a class="nav-links" href="http://dealershipappraisals.com">Appraisals</a></li>
              <li class="nav-items"><a class="nav-links" href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div> <!-- End of .wrapper__header -->
      </header>
     </div> <!-- End of wrapper -->

    <!-- Featured Auction Hero -->
    <div class="hero-container">
      <div class="share-banner">
        <div class="wrapper wrapper-inner wrapper-inner--share">
          <ul class="share__list">
            <li><span class="share__title">Share</span></li>
            <li class="share__item"><a href="" class="share__link"><i class="fab share__fab fa-linkedin"></i></a></li>
            <li class="share__item"><a href="" class="share__link"><i class="fab share__fab fa-facebook-square"></i></a></li>
            <li class="share__item"><a href="" class="share__link"><i class="fab share__fab fa-twitter-square"></i></a></li>
            <li class="share__item"><a href="" class="share__link"><i class="fas share__fab fa-envelope-square"></i></a></li>
          </ul>
        </div>
      </div>
     <div class="hero" style="background: url('../images/dealership-test.png') no-repeat center;background-size: cover;">
       <div class="hero-text">
         <h3 class="hero__auction-type">Live On-Site Auction</h3>
         <h1 class="hero__title">AUTOMOTIVE REPAIR EQUIPMENT. A &amp; W Complete Automotive Care. FLORENCE, KENTUCKY</h1>
         <hr class="hero__hr">
         <p class="hero__date-time">
           May 09, 2018. at 2pm EST.
         </p>
       </div>
       <div class="image-overlay"></div>
     </div>
    </div>

    <main class="main-container">
      <div class="wrapper wrapper-inner wrapper-inner--summary">

      <section class="summary-docs">
        <div class="auction-summary">
          <h2 class="section__heading">Auction Details</h3>
          <div class="summary__inner">
          <h2>Sarasota County Liquidation Surplus Auction!</h2>
          <p>
            This upcoming school board auction will be in the adjacent lot next to the surplus school equipment warehouse. School buses sell first at 8am EST, DON’T BE LATE!
            Another Sarasota County Schools Auction this SATURDAY!  (23) School Buses – (15) 2006 Thomas/Freightliner 77 w/ Mercedes Eng … 1995 GMC 3/4 Ton PU, ActivBoards, Play Kitchens, (8) Plasma TVs to 58″ & more! … (6) Hitachi-Fuji Lens-Eagle Cameras!
          </p>

          <h3>The Best Buses anywhere!</h3>

          <p>
            This upcoming school board auction will be in the adjacent lot next to the surplus school equipment warehouse. School buses sell first at 8am EST, DON’T BE LATE!
            Another Sarasota County Schools Auction this SATURDAY!  (23) School Buses – (15) 2006 Thomas/Freightliner 77 w/ Mercedes Eng … 1995 GMC 3/4 Ton PU, ActivBoards, Play Kitchens, (8) Plasma TVs to 58″ & more! … (6) Hitachi-Fuji Lens-Eagle Cameras!
          </p>

          </div>
        </div>
        <div class="auction-docs">
          <h2 class="section__heading section__heading--docs">Documents</h2>
          <ul class="auction-docs__list">
            <li class="auction-docs__item"><a href="" class="auction-docs__link"><i class="fas fa-file-alt"></i>Registation Form</a></li>
            <li class="auction-docs__item"><a href="" class="auction-docs__link"><i class="fas fa-file-alt"></i>Auction Flyer</a></li>
            <li class="auction-docs__item"><a href="" class="auction-docs__link"><i class="fas fa-file-alt"></i>Auction Postcard</a></li>
          </ul>
        </div>
      </section>  <!-- End of .auction-docs -->

      <section class="photos">
        <h2 class="section__heading">Photos</h2>
        <div class="photo-container">
          <div class="photo__col">
            <a href="https://source.unsplash.com/random/400x200" data-lightbox="roadtrip">
              <img class="col__img" src="https://source.unsplash.com/random/400x200" alt="" class="photo__image">
            </a>
            <a href="https://source.unsplash.com/random/200x400" data-lightbox="roadtrip">
              <img class="col__img" src="https://source.unsplash.com/random/200x400" alt="" class="photo__image">
            </a>
          </div>
          <div class="photo__col">
            <img class="col__img" src="https://source.unsplash.com/random/400x200" alt="" class="photo__image">
            <img class="col__img" src="https://source.unsplash.com/random/200x400" alt="" class="photo__image">

          </div>
          <div class="photo__col">
            <img class="col__img" src="https://source.unsplash.com/random/200x400" alt="" class="photo__image">
            <img class="col__img" src="https://source.unsplash.com/random/400x200" alt="" class="photo__image">
          </div>
          <div class="photo__col">
            <img class="col__img" src="https://source.unsplash.com/random/200x400" alt="" class="photo__image">
            <img class="col__img" src="https://source.unsplash.com/random/400x200" alt="" class="photo__image">
          </div>

        </div>
       </section> <!-- End of .photos section -->

       <section class="map-directions">
         <div class="map">
           <h2 class="section__heading">Location</h2>
           <div id="acfMap">
            <div class="marker" data-lat="x" data-lng="y"></div>
           </div>
         </div>
         <div class="directions">
           <h2 class="section__heading">Directions</h2>
           <p class="directions__text">
             From Cincinnati/Northen KY Airport, follow i-275 East,
              merge onto i-71 / i-75 South to Exit 181,
              Turn Right onto KY-18 West - Burlington Pike 1/2 mile,
              then Turn Right on Merchanant ST to A &amp; W Complete
              Automotive Care on Right
              ...Watch for Auction Signs.
           </p>
         </div>
       </section> <!-- End of .map-directions -->

       <section class="schedule">
         <h2 class="section__heading">Schedule</h2>
         <div class="inspection-auction">
           <div class="inspection">
             <h4 class="schedule__heading">Inspection</h4>
             <span class="inspection__start">Start: May 10, 2018 @ 10am EST</span></br>
             <span class="inspection__end">End: May 10, 2018 @ 5pm EST</span>
           </div>
           <div class="auction">
             <h4 class="schedule__heading">Auction</h4>
             <span class="auction__start">Start: May 11, 2018 @ 19am EST</span></br>
             <span class="auction__end">End: May 11, 2018 @ 5pm EST</span>
           </div>
         </div>
       </section> <!-- End of .schedule -->

       <section class="auction-terms">
         <h2 class="section__heading">Auction Terms</h2>
         <div class="auction-terms__content">
           Auction terms <br> Go here
         </div>
       </section> <!-- End of .auction-terms -->


     </div> <!-- End of .wrapper-inner -->
    </main>

    <footer class="footer">
      <section class="footer-section footer-section--1">
        <h4 class="footer__title">D'Amico Auctions</h4>
        <p class="footer__text">
          Is recognized as a leading "Liquidator and Appraiser of New Car Dealerships."
          Having conducted hundreds of successful auctions and appraisals for all major
          auto groups coast-to-coast, in Florida and across the USA
        </p>
      </section>

      <section class="footer-section footer-section--2">
        <h4 class="footer__title">Navigation</h4>
        <ul class="footer__list">
          <li class="footer__item"><a href="#" class="footer__link">Calender</a></li>
          <li class="footer__item"><a href="#" class="footer__link footer__link--appraisals">Appraisals</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
        </ul>
      </section>

      <section class="footer-section footer-section--3">
        <h4 class="footer__title">Follow Us</h4>
        <p class="footer__text">
          <ul class="footer-social__list">
            <li><a href="" class="footer-social__link"><i class="fab footer__fab fa-linkedin"></i></a</li>
            <li><a href="" class="footer-social__link"><i class="fab footer__fab fa-facebook-square"></i></a></li>
            <li><a href="" class="footer-social__link"><i class="fab footer__fab fa-twitter-square"></i></a></li>
            <li><a href="" class="footer-social__link"><i class="fas footer__fab fa-envelope-square"></i></a></li>
          </ul>
        </p>
      </section>
      <section class="footer-section footer-section--4">
        <h4 class="footer__title">David D'Amico | Auctioneer</h4>
        <p class="footer__text">
          Auctioneer / CAGA, GPPA
          &amp; USPAP Compliant Appraiser
          / Licensed RE Broker
          AU 1441 / AB 2209
        </p>
        <address class="footer__text">
          Sarasota, FL <br>
          Smoky Mtns, TN <br>
          Tel: (941)377-6310 <br>
          eFax: (413)778-6310 <br>
        </address>
      </section>
      <div class="copyright-info">
        <small>Copyright &amp;copy; 2018 D'Amico Auctions - All Rights Reserved</small>
        <small>Developed and Designed by <a class="copyright-info__links" href="http://nicholasdamico.net">nicholasdamico.net</a></small>
      </div>
    </footer>
    <%= htmlWebpackPlugin.options.src %>
</body>
</html>
