<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="wrapper__header">
          <img class="site-logo" src=<%= require("./images/gavel-logo.svg") %> alt="damico auctions logo" />
          <span class="logo">
            <h1 class="logo-title">Damico Auctions</h1>
            <p class="logo-subtitle">David D'Amico | Auctioneer</p>
          </span>
          <nav class="navigation" role="navigation">
            <a href="#" id="navBtn" class="nav-btn" href="#" aria-expanded="false" aria-controls="nav-list">
              <span class="nav-btn__line nav-btn__line--1"></span>
              <span class="nav-btn__line nav-btn__line--2"></span>
              <span class="nav-btn__line nav-btn__line--3"></span>
            </a>
            <ul id="navList" class="nav-list">
              <li class="selected">Home</li>
              <li>Auctions</li>
              <li>Appraisals</li>
              <li>Contact</li>
            </ul>
          </nav>
        </div>
      </header>
     </div> <!-- End of wrapper -->
    <%= htmlWebpackPlugin.options.src %>
</body>
</html>
