<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>D'Amico Auctions & Appraisals, A Leader in Liquadation of New Car Dealerships</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="wrapper-inner wrapper-inner--header">
          <img class="site-logo" src=<%= require("./images/gavel-logo.svg") %> alt="damico auctions logo" />
          <span class="logo">
            <h1 class="logo-title">Damico Auctions</h1>
            <p class="logo-subtitle">David D'Amico | Auctioneer</p>
          </span>
          <nav class="navigation" role="navigation">
            <!-- hamburger navigation button -->
            <a href="#" id="navBtn" class="nav-btn" href="#" aria-expanded="false" aria-controls="nav-list">
              <span class="nav-btn__line nav-btn__line--1"></span>
              <span class="nav-btn__line nav-btn__line--2"></span>
              <span class="nav-btn__line nav-btn__line--3"></span>
            </a>
            <ul id="navList" class="nav-list">
              <li class="nav-items selected"><a class="nav-links" href="#">Home</a></li>
              <li class="nav-items"><a class="nav-links" href="#">Auctions</a></li>
              <li class="nav-items"><a class="nav-links" href="#">Appraisals</a></li>
              <li class="nav-items"><a class="nav-links" href="#">Contact</a></li>
            </ul>
          </nav>
        </div> <!-- End of .wrapper__header -->
      </header>
     </div> <!-- End of wrapper -->

    <main class="main">
      <section class="featured">
        <div class="featured-banner">
          <div class="wrapper-inner wrapper-inner--featured">
            <img class="square-gave-icon" src=<%= require("./images/square-gavel-icon.svg") %> alt="damico auctions logo" />
            <p class="featured-banner__text">Upcoming Auction</p>
          </div>
        </div> <!-- end of .upcoming-banner -->

        <!-- Start of Flickity Carousel -->
        <div id="carousel" class="carousel">
          <div class="auction-slide" style="background: url('../images/dealership-test.png') no-repeat center;background-size: cover;">
            <h3 class="auction-slide__title">Live On-Site Auction</h3>
            <div class="auction-slide__inner">
              <h2 class="auction-slide__heading">
                AUTOMOTIVE REPAIR EQUIPMENT. A & W Complete Automotive Care. FLORENCE, KENTUCKY
              </h2>
              <p class="auction-slide__date-time">
                May 09, 2018. at 2pm EST.
              </p>
              <a href="#" class="btn btn-sml btn--primary"><i class="icon icon--details"></i>Details</a>
            </div>
          </div>

          <div class="auction-slide">
            <h3 class="auction-slide__title">Live On-Site Auction</h3>
            <div class="auction-slide__inner">
              <h2 class="auction-slide__heading">
                AUTOMOTIVE REPAIR EQUIPMENT. A & W Complete Automotive Care. FLORENCE, KENTUCKY
              </h2>
              <p class="auction-slide__date-time">
                May 09, 2018. at 2pm EST.
              </p>
              <a href="#" class="btn btn-sml btn--primary"><i class="icon icon--details"></i>Details</a>
            </div>
          </div>

        </div> <!-- End of .carousel Flickity -->
      </section> <!-- end of section .featured -->

      <section id="auctionCalender" class="auction-calender">
        <div class="wrapper-inner">
          <h2 class="auction-calender__heading">Auction Calender</h2>
        </div>
        <div class="wrapper-inner wrapper-inner__auction-calender">
          <div class="auction-calender__container">

            <article class="auction-card auction-card">
              <h2 class="auction-card__title">
                  AUTOMOTIVE REPAIR EQUIPMENT. A & W Complete Automotive Care. FLORENCE, KENTUCKY
              </h2>
              <a class="auction-card__date" href="#">
                <span class="auction-card__date__month">May</span>
                <span class="auction-card__date__day">09</span>
              </a>
              <div class="auction-card__body">
                <div class="auction-card__col1">
                  <div class="image-container">
                    <img class="auction-card__image" src=<%= require("./images/align-rack@3x.jpg") %> >
                  </div>
                  <div class="auction-card__btn-container">
                    <a href="single.html" class="btn btn-sml btn--primary"><i class="icon icon--details"></i>Details</a>
                    <a href="#" class="btn btn-sml btn--primary"><i class="icon icon--gavel"></i>Bid Online</a>
                  </div>
                </div>
                <div class="auction-card__col2">
                  <div class="auction-card__upcoming-auction">
                    <h3 class="auction-card__heading">Auction Summary</h3>
                    <p class="auction-card__text">
                      Featuring (13) Thomas - Freightliner School Buses including
                      (8) 2007 & 2006 Newer Body Style w/ Mercedes Engines / Jeeps /
                      Chevy Blazer / Ford E-350 Vans / JD Tractor-Loader /Mowers
                      / Sprayers / CheTech / ClubCar / Hobart Mixers / Warehouse is Full!
                    </p>
                  </div>
                  <div class="auction-card__details-auction">
                    <h3 class="auction-card__heading">Live On-Site</h3>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Inspection: </span>May 09, 2017 from 9am to 10pm</p>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Auction: </span>May 10, 2017 at 9am</p>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Location: </span>512 Union Grove Road SE CALHOUN, GA 30701</p>
                  </div>
                </div>
              </div>
            </article>

            <article class="auction-card">
              <h2 class="auction-card__title">
                  AUTOMOTIVE REPAIR EQUIPMENT. A & W Complete Automotive Care. FLORENCE, KENTUCKY
              </h2>
              <a class="auction-card__date" href="#">
                <span class="auction-card__date__month">July</span>
                <span class="auction-card__date__day">04</span>
              </a>
              <div class="auction-card__body">
                <div class="auction-card__col1">
                  <img src=<%= require("./images/align-rack@3x.jpg") %> class="auction-card__image">
                  <div class="auction-card__btn-container">
                    <a href="#" class="btn__details btn btn-sml btn--primary">Details</a>
                    <a href="#" class="btn__bid btn btn-sml btn--primary">Bid Online</a>
                  </div>
                </div>
                <div class="auction-card__col2">
                  <div class="auction-card__upcoming-auction">
                    <h3 class="auction-card__heading">Auction Summary</h3>
                    <p class="auction-card__text">
                      Featuring (13) Thomas - Freightliner School Buses including
                      (8) 2007 & 2006 Newer Body Style w/ Mercedes Engines / Jeeps /
                      Chevy Blazer / Ford E-350 Vans / JD Tractor-Loader /Mowers
                      / Sprayers / CheTech / ClubCar / Hobart Mixers / Warehouse is Full!
                    </p>
                  </div>
                  <div class="auction-card__details-auction">
                    <h3 class="auction-card__heading">Live On-Site</h3>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Inspection: </span>May 09, 2017 from 9am to 10pm</p>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Auction: </span>May 10, 2017 at 9am</p>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Location: </span>512 Union Grove Road SE CALHOUN, GA 30701</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>

        <div class="wrapper-inner">
          <h2 class="auction-calender__heading">Past Auctions</h2>
        </div>
        <div class="wrapper-inner wrapper-inner__auction-calender">
          <div class="auction-calender__container">
            <article class="auction-card auction-card--sold">
              <h2 class="auction-card__title">
                  AUTOMOTIVE REPAIR EQUIPMENT. A & W Complete Automotive Care. FLORENCE, KENTUCKY
              </h2>
              <a class="auction-card__date" href="#">
                <span class="auction-card__date__month">May</span>
                <span class="auction-card__date__day">09</span>
              </a>
              <div class="auction-card__body">
                <div class="auction-card__col1">
                  <div class="image-container">
                    <img class="auction-card__image" src=<%= require("./images/align-rack@3x.jpg") %> >
                  </div>
                  <div class="auction-card__btn-container">
                    <a href="#" class="btn btn-sml btn--primary"><i class="icon icon--details"></i>Details</a>
                    <a href="#" class="btn btn-sml btn--primary"><i class="icon icon--gavel"></i>Bid Online</a>
                  </div>
                </div>
                <div class="auction-card__col2">
                  <div class="auction-card__upcoming-auction">
                    <h3 class="auction-card__heading">Auction Summary</h3>
                    <p class="auction-card__text">
                      Featuring (13) Thomas - Freightliner School Buses including
                      (8) 2007 & 2006 Newer Body Style w/ Mercedes Engines / Jeeps /
                      Chevy Blazer / Ford E-350 Vans / JD Tractor-Loader /Mowers
                      / Sprayers / CheTech / ClubCar / Hobart Mixers / Warehouse is Full!
                    </p>
                  </div>
                  <div class="auction-card__details-auction">
                    <h3 class="auction-card__heading">Live On-Site</h3>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Inspection: </span>May 09, 2017 from 9am to 10pm</p>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Auction: </span>May 10, 2017 at 9am</p>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Location: </span>512 Union Grove Road SE CALHOUN, GA 30701</p>
                  </div>
                </div>
              </div>
            </article>

            <article class="auction-card auction-card--sold">
              <h2 class="auction-card__title">
                  AUTOMOTIVE REPAIR EQUIPMENT. A & W Complete Automotive Care. FLORENCE, KENTUCKY
              </h2>
              <a class="auction-card__date" href="#">
                <span class="auction-card__date__month">May</span>
                <span class="auction-card__date__day">09</span>
              </a>
              <div class="auction-card__body">
                <div class="auction-card__col1">
                  <div class="image-container">
                    <img class="auction-card__image" src=<%= require("./images/align-rack@3x.jpg") %> >
                  </div>
                  <div class="auction-card__btn-container">
                    <a href="#" class="btn btn-sml btn--primary"><i class="icon icon--details"></i>Details</a>
                    <a href="#" class="btn btn-sml btn--primary"><i class="icon icon--gavel"></i>Bid Online</a>
                  </div>
                </div>
                <div class="auction-card__col2">
                  <div class="auction-card__upcoming-auction">
                    <h3 class="auction-card__heading">Auction Summary</h3>
                    <p class="auction-card__text">
                      Featuring (13) Thomas - Freightliner School Buses including
                      (8) 2007 & 2006 Newer Body Style w/ Mercedes Engines / Jeeps /
                      Chevy Blazer / Ford E-350 Vans / JD Tractor-Loader /Mowers
                      / Sprayers / CheTech / ClubCar / Hobart Mixers / Warehouse is Full!
                    </p>
                  </div>
                  <div class="auction-card__details-auction">
                    <h3 class="auction-card__heading">Live On-Site</h3>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Inspection: </span>May 09, 2017 from 9am to 10pm</p>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Auction: </span>May 10, 2017 at 9am</p>
                    <p class="auction-card__text auction-card__text--details"><span class="text-important">Location: </span>512 Union Grove Road SE CALHOUN, GA 30701</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>

      </section>
    </main>

    <footer class="footer">
      <section class="footer-section footer-section--1">
        <h4 class="footer__title">D'Amico Auctions</h4>
        <p class="footer__text">
          Is recognized as a leading "Liquidator and Appraiser of New Car Dealerships."
          Having conducted hundreds of successful auctions and appraisals for all major
          auto groups coast-to-coast, in Florida and across the USA
        </p>
      </section>

      <section class="footer-section footer-section--2">
        <h4 class="footer__title">Navigation</h4>
        <ul class="footer__list">
          <li class="footer__item"><a href="#" class="footer__link">Calender</a></li>
          <li class="footer__item"><a href="#" class="footer__link footer__link--appraisals">Appraisals</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
        </ul>
      </section>

      <section class="footer-section footer-section--3">
        <h4 class="footer__title">Follow Us</h4>
        <p class="footer__text">
          <ul class="footer-social__list">
            <li><a href="" class="footer-social__link"><i class="fab footer__fab fa-linkedin"></i></a</li>
            <li><a href="" class="footer-social__link"><i class="fab footer__fab fa-facebook-square"></i></a></li>
            <li><a href="" class="footer-social__link"><i class="fab footer__fab fa-twitter-square"></i></a></li>
            <li><a href="" class="footer-social__link"><i class="fas footer__fab fa-envelope-square"></i></a></li>
          </ul>
        </p>
      </section>
      <section class="footer-section footer-section--4">
        <h4 class="footer__title">David D'Amico | Auctioneer</h4>
        <p class="footer__text">
          Auctioneer / CAGA, GPPA
          & USPAP Compliant Appraiser
          / Licensed RE Broker
          AU 1441 / AB 2209
        </p>
        <address class="footer__text">
          Sarasota, FL <br>
          Smoky Mtns, TN <br>
          Tel: (941)377-6310 <br>
          eFax: (413)778-6310 <br>
        </address>
      </section>
      <div class="copyright-info">
        <small>Copyright &copy; 2018 D'Amico Auctions - All Rights Reserved</small>
        <small>Developed and Designed by <a class="copyright-info__links" href="#">nicholasdamico.net</a></small>
      </div>
    </footer>
    <%= htmlWebpackPlugin.options.src %>
</body>
</html>
