/* Color Variables */
$blue:   #517FB9;
$gold:   #F7CC31;
$red:    #F7382F;
$black:  #22200F;
$white:  #FCFCFC;

$grey:   #444;

/* Size Variables */
$max-width: 1200px;

/* Text Shadow */
$featured-text-shadow: 1px 1px 2px rgba($black, 0.8);
$circle-date-text-shadow: $featured-text-shadow;

/* Media Query's */
$small-screen: 549px;
$med-screen:   699px;
$lg-screen:    999px;
